<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
            </div>
            <div class="search-bar flex-grow-1 text-center">
                <i class="bx bx-info-circle"></i> No value is displayed in the process of the testnet
            </div>

            <div class="top-menu ms-auto">
                <h6 id="timeCounter" class="msg-name"></h6>
                <!-- <ul class="navbar-nav align-items-center">
                     <li class="nav-item dropdown dropdown-large">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true"> <span id="spanAlertCount"></span>
                            <i class="bx bx-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="javascript:;">
                                <div class="msg-header">
                                    <p class="msg-header-title">Notifications</p>
                                </div>
                            </a>
                            <div id="divNotificationList" class="header-notifications-list">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="d-flex align-items-center">
                                        <div class="notify bg-light-success text-success"><i class="bx bx-file"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 id="hNotificationMessage" class="msg-name">24 PDF File</h6>
                                            <p id="pNotificationMessageDetail" class="msg-info">The pdf files generated</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li> 


                </ul>-->
            </div>



            <div id="connectedProfile" class="user-box dropdown">
                <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="picture" src="assets/images/metamask.png" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p id="accountAddress" class="user-name mb-0">Fullname</p>
                        <p class="designattion mb-0 text-green">Connected</p>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bx bx-user"></i><span>
                                <!-- Profil -->
                                Profile
                            </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class="bx bx-cog"></i><span>
                                    <!-- Ayarlar -->
                                    Settings
                                </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-home-circle'></i><span>
                                    <!-- Görevlerim -->
                                    My Tasks
                                </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-dollar-circle'></i><span>
                                    <!-- Kazançlarım -->
                                    My Earnings
                                </span></a>
                    </li>
                    <li>
                        <div class="dropdown-divider mb-0"></div>
                    </li>
                    <li><a id="logout" class="dropdown-item" href="javascript:;"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                    </li>
                </ul>
            </div>

            <div id="connectToMetamask" class="user-box">
                <a class="d-flex align-items-center nav-link" href="#" role="button">
                    <img id="picture" src="assets/images/metamask.png" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p id="fullname" class="user-name mb-0">Connect to Metamask</p>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</header>