<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="assets/images/dats-logo.png" width="175px" alt="logo icon">
        </div>
        <!-- <div>
            <h4 class="logo-text">Dats</h4>
        </div> -->
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>

    <ul class="metismenu" id="menu">
        <li>
            <a href="/">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <li class="menu-label">Services</li>

        <li>
            <a href="/ddos">
                <div class="parent-icon">
                    <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title">DDOS Test</div>
            </a>
        </li>
        <li>
            <a href="/cyber">
                <div class="parent-icon"><i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title">Cyber Sec. Research</div>
            </a>
        </li>

        <li>
            <a href="/vulnerability">
                <div class="parent-icon"> <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title"> Vulnerability Scanning</div>
            </a>
        </li>

        <li>
            <a href="/super">
                <div class="parent-icon"> <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title"> Super Computer</div>
            </a>
        </li>

        <li>
            <a href="/blockchain">
                <div class="parent-icon"> <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title"> Blockchain Security</div>
            </a>
        </li>

        <li class="menu-label">Others</li>

        <li>
            <a href="/refferal">
                <div class="parent-icon"> <i class='bx bx-chevrons-right'></i>
                </div>
                <div class="menu-title"> Refferal</div>
            </a>
        </li>

        <!-- <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Categories</div>
            </a>
            <ul>
                <li> <a href="pages/ddos.html"><i class="bx bx-right-arrow-alt"></i> DDos Test</a>
                </li>
                <li> <a href="pages/cyber.html"><i class="bx bx-right-arrow-alt"></i> Cyber Sec. Research</a>
                </li>
                <li> <a href="pages/vulnerability.html"><i class="bx bx-right-arrow-alt"></i> Vulnerability
                        Scanning</a>
                </li>
                <li> <a href="pages/super.html"><i class="bx bx-right-arrow-alt"></i> Super Computer</a>
                </li>
                <li><a href="pages/blockchain.html"><i class="bx bx-right-arrow-alt"></i> Blockchain
                        Security</a>
                </li>
            </ul>
        </li> -->

        <!-- <li class="menu-label">Pages</li>
        <li>
            <a href="pages/settings.html">
                <div class="parent-icon">
                    <i class='bx bx-cog'></i>
                </div>
                <div class="menu-title">Settings</div>
            </a>
        </li>
        <li>
            <a href="pages/login-info.html">
                <div class="parent-icon"><i class='bx bx-cookie'></i>
                </div>
                <div class="menu-title">Login Info</div>
            </a>
        </li>

        <li>
            <a href="pages/progress-payments.html">
                <div class="parent-icon"> <i class='bx bx-trending-up'></i>
                </div>
                <div class="menu-title"> Progress Payments</div>
            </a>
        </li> -->

    </ul>

</div>