<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
            </div>
            <div class="search-bar flex-grow-1 text-center">
                <i class="bx bx-info-circle"></i> No value is displayed in the process of the testnet
            </div>

           



            <div id="connectedProfile" class="user-box dropdown">
                <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img id="picture" src="assets/images/metamask.png" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p id="accountAddress" class="user-name mb-0">Fullname</p>
                        <p class="designattion mb-0 text-green">Connected</p>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bx bx-user"></i><span>
                                <!-- Profil -->
                                Profile
                            </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class="bx bx-cog"></i><span>
                                    <!-- Ayarlar -->
                                    Settings
                                </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-home-circle'></i><span>
                                    <!-- Görevlerim -->
                                    My Tasks
                                </span></a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;"><i
                                class='bx bx-dollar-circle'></i><span>
                                    <!-- Kazançlarım -->
                                    My Earnings
                                </span></a>
                    </li>
                    <li>
                        <div class="dropdown-divider mb-0"></div>
                    </li>
                    <li><a id="logout" class="dropdown-item" href="javascript:;"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                    </li>
                </ul>
            </div>

            <div id="connectToMetamask" class="user-box">
                <a class="d-flex align-items-center nav-link" href="#" role="button">
                    <img id="picture" src="assets/images/metamask.png" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p id="fullname" class="user-name mb-0">Connect to Metamask</p>
                    </div>
                </a>
            </div>
        </nav>
    </div>
</header>