<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Cyber Sec. Research</li>
            </ol>
        </nav>
    </div>
</div>


<div class="col-xl-9">

    <div class="card">
        <div class="card-body">

            <div class="mb-5 mt-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" value="" id="switchApproveCyberSecurityResearch">
                    <label class="form-check-label" for="switchApproveCyberSecurityResearch">
                        <!-- Siber güvenlik araştırmaları hizmetine katılımı onaylıyorum. -->
                        I approve participation in the Cyber Security Research Service
                    </label>
                </div>
            </div>

            <div class="mb-5">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkWebSecurity">
                    <label class="form-check-label" for="chkWebSecurity">
                        <!-- Web Güvenliği -->
                        Web Security
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkServerSecurity">
                    <label class="form-check-label" for="chkServerSecurity">
                        <!-- Sunucu Güvenliği -->
                        Server Security
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkRansomwareResearch">
                    <label class="form-check-label" for="chkRansomwareResearch">
                        <!-- Ransomware Araştırmaları -->
                        Ransomware Research
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chkMalwareResearch">
                    <label class="form-check-label" for="chkMalwareResearch">
                        <!-- Zararlı Yazılım Araştırmaları -->
                        Malware Research
                    </label>
                </div>

            </div>

            <div class="mb-3">
                <button id="saveCyber" class="btn btn-light" type="button">Save Changes</button>
                <button id="processingCyber" class="btn btn-light d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                     Processing...
                </button>
            </div>

        </div>

    </div>
</div>